<section class="course-list">
  <header>
    <div class="course-header">
      <button mat-raised-button color="primary" (click)="accordion.openAll()">
        alle aufklappen
      </button>
      <button mat-raised-button color="primary" (click)="accordion.closeAll()">
        alle zuklappen
      </button>
      <h3>Liste der abgeschlossenen Kurse</h3>
    </div>
  </header>
  <app-loading></app-loading>
  <mat-accordion class="course-headers-align" multi>
    <div *ngFor="let course of courses$ | async as courses">
      <mat-expansion-panel
        (opened)="handleOpened(course)"
        (closed)="handleClosed(course)"
        (afterExpand)="afterPanelOpened(course)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p *ngIf="currentOpenedCourseId !== course.id">
              {{ course.title }}
            </p>
            <h3 *ngIf="currentOpenedCourseId === course.id">
              {{ course.title }}
            </h3>
          </mat-panel-title>
          <mat-panel-description *ngIf="currentOpenedCourseId !== course.id">
            {{ course.confirmationDate | date: 'dd.MM.yyyy' }},
            {{ course.duration }} Std.
          </mat-panel-description>
          <button *ngIf="edit" mat-icon-button (click)="editCourse(course.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">
          <mat-card class="course-card" fxFlex="1 1 100%">
            <mat-card-header>
              <div
                mat-card-avatar
                class="course-header-image"
                [ngClass]="course.school | lowercase"
              ></div>
              <mat-card-title> {{ course.school }} </mat-card-title>
              <mat-card-subtitle
                >Kursleiter: {{ course.teacher }}
              </mat-card-subtitle>
            </mat-card-header>

            <div *ngIf="courseService.downloadUrl | async; let url">
              <img
                mat-card-image
                class="certificate"
                [src]="url"
                alt="Kursbestätigungs-Image von AngularFireStorage"
              />
            </div>
          </mat-card>
          <app-loading></app-loading>
          <div class="course-card" fxFlex="1 1 100%">
            <h3 *ngIf="edit">Id</h3>
            <p *ngIf="edit">{{ course.id }}</p>
            <h3>Kurzfassung</h3>
            <p>{{ course.summary }}</p>
            <h3>Kurs-Beschreibung</h3>
            <p>{{ course.description }}</p>
          </div>
          <div class="course-card" fxFlex="1 1 100%">
            <h3>Kategorie und Topics</h3>
            <p>{{ course.category }}</p>
            <p>{{ course.topics }}</p>
            <h3>Source-Code und Testen der App</h3>
            <p>
              Der Source-Code ist in <strong>GitHub</strong> eingecheckt und die
              App ist bei
              <strong>{{ course.hostingProvider }}</strong> gehostet.
            </p>
            <div *ngIf="course.hasCredentials">
              <p>
                Bei GitHub brauchen Sie sich nicht anmelden. Bei der App
                verwenden Sie bitte folgende Credentials:
              </p>
              <h5>
                <strong>User: </strong>{{ appCredentials.appUser }} und
                <strong>Kennwort:</strong> {{ appCredentials.appPassword }}
              </h5>
            </div>
            <div class="course-buttons">
              <button
                mat-raised-button
                color="primary"
                (click)="runUrl(course.githubUrl)"
                [disabled]="!course.githubUrl"
              >
                Source in GitHub
              </button>
              <button
                mat-raised-button
                color="accent"
                (click)="runUrl(course.hostedUrl)"
                [disabled]="!course.hostedUrl"
              >
                App starten
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</section>
