<section class="course-list">
  <header>
    <div class="course-header">
      <button mat-raised-button color="primary" (click)="accordion.openAll()">
        alle aufklappen
      </button>
      <button mat-raised-button color="primary" (click)="accordion.closeAll()">
        alle zuklappen
      </button>
      <h3>Liste der abgeschlossenen Kurse</h3>
    </div>
  </header>
  <app-loading></app-loading>
  <mat-accordion class="course-headers-align" multi>
    <div *ngFor="let course of courses$ | async as courses">
      <mat-expansion-panel
        (opened)="handleOpened(course)"
        (closed)="handleClosed(course)"
      >
        <mat-expansion-panel-header fxLayoutAlign="space-between" fxFlexFill>
          <mat-panel-title fxFlex="90%" fxFlex.gt-sm="40%">
            <ng-container *ngIf="currentOpenedCourseId !== course.id">
              <div>
                {{ course.title }}
              </div>
            </ng-container>
            <h3 *ngIf="currentOpenedCourseId === course.id">
              {{ course.title }}
            </h3>
          </mat-panel-title>
          <mat-panel-description
            *ngIf="currentOpenedCourseId !== course.id"
            fxFlex
            fxLayoutAlign="space-between"
            fxFlexFill
          >
            <div fxHide [fxShow.gt-sm]="true" fxFlex="90%">
              {{ course.summary }}
            </div>
            <div fxHide [fxShow.gt-xs]="true" fxFlex="10%">
              {{ course.confirmationDate | date: 'dd.MM.yyyy' }}
            </div>
          </mat-panel-description>
          <button *ngIf="edit" mat-icon-button (click)="editCourse(course.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <app-course-detail-user [course]="course"></app-course-detail-user>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</section>
