.course-list {
  margin: auto;
  max-width: 100%;
}

.course-header {
  margin-top: 20px;
  text-align: center;
}

.course-header button {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 140px;
}

.course-header-image {
  background-image: url('https://seeklogo.com/images/U/udemy-logo-C3D3F5AC0C-seeklogo.com.png');
  background-size: contain;
}

.course-headers-align {
  line-height: 26px;
}

.edit-btn {
  margin-left: 10px;
  margin-top: -5px;
}
