<mat-nav-list class="sidenav">
  <a mat-list-item (click)="onClose()">
    <mat-icon>arrow_back</mat-icon>
    <span class="nav-caption">zurück</span>
  </a>

  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>

  <a
    mat-list-item
    routerLink="/courses"
    [disabled]="!loggedIn"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="!loggedIn">thumb_up</mat-icon>
    <span class="nav-caption" [class.disabled]="!loggedIn">Kurse anzeigen</span>
  </a>

  <a
    mat-list-item
    routerLink="/courses/edit"
    [disabled]="!isAdmin"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="!isAdmin">thumb_up</mat-icon>
    <span class="nav-caption" [class.disabled]="!isAdmin">Kurse verwalten</span>
  </a>

  <a mat-list-item routerLink="/todos" (click)="onClose()">
    <mat-icon>build</mat-icon>
    <span class="nav-caption">Todos</span>
  </a>

  <a mat-list-item routerLink="/login" *ngIf="!loggedIn" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>

  <mat-list-item>
    <button
      mat-icon-button
      (click)="onLogout()"
      *ngIf="loggedIn"
      (click)="onClose()"
    >
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
