<mat-nav-list class="sidenav">
  <a mat-list-item (click)="onClose()">
    <mat-icon>arrow_back</mat-icon>
    <span class="nav-caption">zurück</span>
  </a>

  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>

  <a
    mat-list-item
    routerLink="/courses"
    *ngIf="!(authStore.isAdmin$ | async)"
    [disabled]="authStore.isLoggedOut$ | async"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="authStore.isLoggedOut$ | async">list</mat-icon>
    <span class="nav-caption" [class.disabled]="authStore.isLoggedOut$ | async"
      >Kurse anzeigen</span
    >
  </a>

  <a
    mat-list-item
    routerLink="/courses/search"
    [disabled]="authStore.isLoggedOut$ | async"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="authStore.isLoggedOut$ | async"
      >search</mat-icon
    >
    <span class="nav-caption" [class.disabled]="authStore.isLoggedOut$ | async"
      >Kurse suchen</span
    >
  </a>

  <a
    mat-list-item
    routerLink="/courses/edit"
    [disabled]="!(authStore.isAdmin$ | async)"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="!(authStore.isAdmin$ | async)">edit</mat-icon>
    <span class="nav-caption" [class.disabled]="!(authStore.isAdmin$ | async)"
      >Kurse bearbeiten</span
    >
  </a>

  <a
    mat-list-item
    routerLink="/courses/new"
    [disabled]="!(authStore.isAdmin$ | async)"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="!(authStore.isAdmin$ | async)">add</mat-icon>
    <span class="nav-caption" [class.disabled]="!(authStore.isAdmin$ | async)"
      >Neuer Kurs</span
    >
  </a>

  <a
    mat-list-item
    routerLink="/repos/api"
    [disabled]="authStore.isLoggedOut$ | async"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="authStore.isLoggedOut$ | async"
      >search</mat-icon
    >
    <span class="nav-caption" [class.disabled]="authStore.isLoggedOut$ | async"
      >GitHub Benutzer-Repos suchen</span
    >
  </a>

  <a
    mat-list-item
    routerLink="/orgs/api"
    [disabled]="authStore.isLoggedOut$ | async"
    (click)="onClose()"
  >
    <mat-icon [class.disabled]="authStore.isLoggedOut$ | async"
      >search</mat-icon
    >
    <span class="nav-caption" [class.disabled]="authStore.isLoggedOut$ | async"
      >GitHub ORG-Repos suchen</span
    >
  </a>

  <a mat-list-item routerLink="/todos" (click)="onClose()">
    <mat-icon>build</mat-icon>
    <span class="nav-caption">Todos</span>
  </a>

  <a
    mat-list-item
    routerLink="/login"
    *ngIf="authStore.isLoggedOut$ | async"
    (click)="onClose()"
  >
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>

  <a
    mat-list-item
    *ngIf="authStore.isLoggedIn$ | async"
    (click)="onClose(); onLogout()"
  >
    <mat-icon>eject</mat-icon>
    <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
