.nav-caption {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidenav {
  background-color: #3f5185;
  height: 100%;
}

.nav-caption,
mat-icon {
  color: white;
}

.mat-list-item-disabled {
  background: #3f5185;
}

.disabled {
  color: rgb(141, 135, 135);
}
