table {
  width: 100%;
}

.todos-page {
  max-width: 1200px;
  margin: 20px auto;
}

.header {
  text-align: center;
}

.filter {
  min-width: 350px;
}

@media only screen and (max-width: 600px) {
  .no-padding-left {
    padding-left: 0px !important;
  }
}
