table {
  width: 100%;
}

table.mat-table {
  border-spacing: 2px;
}

.todos-page {
  max-width: 800px;
  margin: 20px auto;
}

.header,
.text-center {
  text-align: center;
}

.filter {
  min-width: 350px;
}

.status {
  max-width: 350px;
  margin: auto;
}

.mat-column-todo {
  word-break: break-word;
}

@media only screen and (max-width: 600px) {
  .no-padding-left {
    padding-left: 0px !important;
  }
}
