<div class="todos-page">
  <section class="header">
    <h1>Todos für dieses Projekt</h1>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>
  </section>
  <section>
    <table mat-table matSort [dataSource]="datasource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th
          [hidden]="mobile$ | async"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Nr
        </th>
        <td mat-cell *matCellDef="let element" [hidden]="mobile$ | async">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategorie</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [hidden]="mobile$ | async"
        >
          Typ
        </th>
        <td mat-cell *matCellDef="let element" [hidden]="mobile$ | async">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="todo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
        <td mat-cell *matCellDef="let element">{{ element.todo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </section>
  <section class="status">
    <mat-progress-bar [value]="status"></mat-progress-bar>
    <div class="text-center">
      Status der Implementierung ( {{ status | number: '1.0-0' }} % )
    </div>
  </section>
</div>
