<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <a fxHide.xs routerLink="/"><mat-icon class="logo-img">home</mat-icon></a>
    <a routerLink="/" class="logo-text">Hans Zöchbauer's Kurse</a>
    <span class="admin" *ngIf="authStore.isAdmin$ | async">Admin</span>
  </div>
  <div fxFlex fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="20px" class="navigation-items">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="mnuItemButton">
          Kurse
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [disabled]="authStore.isLoggedOut$ | async"
            (click)="onDisplayCourses()"
          >
            Kurse anzeigen
          </button>
          <button
            mat-menu-item
            [disabled]="!(authStore.isAdmin$ | async)"
            (click)="onManageCourses()"
          >
            Kurse bearbeiten
          </button>
          <button
            mat-menu-item
            [disabled]="!(authStore.isAdmin$ | async)"
            (click)="onNewCourse()"
          >
            neuer Kurs
          </button>
        </mat-menu>
      </li>
      <li routerLink="/todos"><a>Todos</a></li>
      <li *ngIf="authStore.isLoggedOut$ | async">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authStore.isLoggedIn$ | async">
        <a routerLink="/welcome"><mat-icon>help</mat-icon></a>
      </li>
      <li *ngIf="authStore.isLoggedIn$ | async" (click)="onLogout()">Logout</li>
    </ul>
  </div>
</mat-toolbar>
