.header,
.footer {
  text-align: center;
  margin: auto;
}

header {
  padding-bottom: 10px;
}

.welcome-page {
  max-width: 1250px;
  margin: 20px auto;
}

section,
header {
  max-width: 650px;
}

section {
  margin-bottom: 10px !important;
}

strong {
  font-weight: 580;
}
