<div class="welcome-page">
  <header class="header">
    <h1>Hallo!</h1>
    <h4>
      Diese App enthält eine Beschreibung meiner wichtigsten Web-Developer
      Forbildungs-Kurse, die auf meiner
      <a href="https://github.com/zoechbauer" target="_blank">GitHub-Seite</a>
      abgelegt sind.
    </h4>
  </header>
  <div
    fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="start start"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
  >
    <section fxFlex>
      <h2 class="welcome">Geplante Funktionen</h2>
      <ul>
        <li>
          Speichern der Kursdaten als Admin in Firebase (Zugriff mittels
          Angular/Fire)
        </li>
        <li>
          Abrufen und Anzeigen der Kursdaten als angemeldeteter User mit
          öffentlichen Credentials. Dadurch kann durch PW-Änderung das Abrufen
          gesperrt werden.
          <ul>
            <li>Darstellung als mat-table mit Filter- und Suchfunktion</li>
            <li>Detail-Informationen des ausgewählten Kurses anzeigen</li>
            <li>Link des Kurses zum GitHub-Repo</li>
            <li>Link des Kurses zur lauffähigen gehosteten App-Version</li>
          </ul>
        </li>
        <li>
          Anzeigen allgemeiner Infos ohne Login, zB. Todo-Liste mit statischen,
          d.h. hardcodierten Aktvitäten
        </li>
        <li>
          Anmelden als Test-Admin, damit auch das Verwalten der Kursdaten
          gezeigt werden kann.<br />
          Bei Test-Admin arbeitet man in einer eigenen Test-Collection von
          Firebase, damit die echten Kursdaten nicht geändert werden.
        </li>
      </ul>
    </section>
    <section fxFlex>
      <h2 class="welcome">Zweck dieser App</h2>
      <ol>
        <li>
          Dieses App ist als Übungsprojekt vergangener Kursprojekte gedacht mit
          dem Ziel Praxis in Angular, Angular Material, rxJS und Angular Fire
          sowie CSS zu erhalten.
        </li>
        <li>
          Der Link zu dieser App wird auch in Bewerbungsgesprächen erwähnt,
          wodurch Firmen die Möglichkeit haben, sich relativ schnell und einfach
          einen Überblick über meine Kenntnisse in der Web-Programmierung zu
          machen.
          <ul>
            <li>
              Was habe ich an Schulungen gemacht ==> Verzweigen zu lauffähigen
              App
            </li>
            <li>
              Wie wurden die Projekte technisch umgesetzt ==> Verzweigen zum
              GitHub Repository
            </li>
            <li>
              Wie wurde das Schulungswissen umgesetzt ==> diese App.
            </li>
          </ul>
        </li>
      </ol>
    </section>
    <section fxFlex>
      <h2 class="welcome">Design Überlegungen</h2>
      <p>Tabellen-Form mit Filter und Sortier-Funktion nur bei Todo-Liste.</p>
      <p>
        Die Projekte werden mittels Expansion-Panel und Card angezeigt
      </p>
      <p>
        Alle möglichen Funktionen sind mittels Button und Menü auswählbar und
        werden angezeigt, wobei die Admin-Funktionen bei der Anmeldung als User
        disabled sind.
      </p>
    </section>
  </div>
  <footer class="footer">
    <hr />
    <h5>Anmerkung: diese Seite wird inhaltlich noch überarbeitet.</h5>
  </footer>
</div>
