.course-detail {
  width: 100%;
}

.header {
  text-align: center;
}

.school-data,
.course-data,
.app-data {
  max-width: 550px;
  margin: auto;
}

.mat-card-title {
  text-align: center;
}

mat-form-field {
  margin-right: 15px;
  width: 100%;
}

.confirmation-text {
  width: 85%;
  display: inline-block;
}

.confirmation-button {
  width: 15%;
  display: inline-block;
}

.confirmation-input {
  margin-top: 10px;
  margin-bottom: -13px;
}

.confirmation-container {
  margin-top: 17px;
}
